{{!-- This our HOME PAGE --}}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FAQ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Calendar</a>
    </li>
  </ul>

</div>
</nav>

<!-- Main Container-->
<div class="container main-container">
  <!--Banner Row-->
  <div class="row">
    <div class="col-md text-center mt-4">
      <h1 style="font-family: 'Cutive', serif;">Local Quest</h1>
      <hr>
    </div>
  </div>

  <!--Footer-->
  <footer class="fixed-bottom">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 navbar-text">
          <p>© 2019 Copyright KMM*8</p>
        </div>
      </div>
    </div>
  </footer>
