<!--Short Description Row-->
<div class="row">
  <div class="col-md text-center">
    <h3>Shop Local. Complete Quests. Earn Rewards.</h3>
  </div>
</div>

<!--Login Signup Links-->

<div class="row mt-5">
  <div class="col-md-1 offset-5">
    <button type="button" class="btn btn-primary login">Login</button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-success signup">Sign Up</button>
  </div>
</div>

<!--Login Modal-->
<div class="modal" tabindex="-1" role="dialog" id="login-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/profile/{{UserName}}">
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="email" class="form-control" id="UserName" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <button type="submit"  class="btn btn-primary userLogin">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <p>Don't have an account?</p>
        <button type="button" class="btn btn-success signup mt-3">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<!--Sign Up Modal-->
<div class="modal" tabindex="-1" role="dialog" id="signup-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- action = action = "/createusers" method="POST"--}}
          <form class ="createForm" > 
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="username" name = "username" class="form-control" id="Firstusername" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name = "password"class="form-control" id="Firstpassword" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="password-verify">Password</label>
            <input type="password" class="form-control" id="password-verify" placeholder="Verify Password">
          </div>
          <select class="form-control" id = "FirstLocation">
            <option name="Fort Collins" value = "Fort Collins">Fort Collins</option>
            <option name= "Broomfield" value = "Broomfield">Broomfield</option>
          </select>
          <button  class="btn btn-primary mt-3" id = "firstlogin">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <p>Already have an account?</p>
        <button type="button" class="btn btn-warning login">Login</button>
      </div>
    </div>
  </div>
</div>

{{!-- MAP Container --}}
 <div id ="broomfieldMap"></div>
 <div id ="fortcollinsMap"></div>
    <br>

