<!--Short Description Row-->
    <div class="row">
      <div class="col-md text-center">
        <h3>Shop Local. Complete Quests. Earn Rewards.</h3>
      </div>
    </div>

    <!--Login Signup Links-->
    <div class="row mt-5">
      <div class="col-md-1 offset-5">
        <button type="button" class="btn btn-primary login">Login</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-success signup">Sign Up</button>
      </div>
    </div>

    <!--Login Modal-->
    <div class="modal" tabindex="-1" role="dialog" id="login-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/profile">
              <div class="form-group">
                <label for="username">User Name</label>
                <input type="email" class="form-control" id="username" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
          <div class="modal-footer">
            <p>Don't have an account?</p>
            <button type="button" class="btn btn-success signup mt-3">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <!--Sign Up Modal-->
    <div class="modal" tabindex="-1" role="dialog" id="signup-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/profile">
              <div class="form-group">
                <label for="username">User Name</label>
                <input type="email" class="form-control" id="username" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="password-verify">Password</label>
                <input type="password" class="form-control" id="password-verify" placeholder="Verify Password">
              </div>
              <select class="form-control">
                <option>Ft. Collins</option>
                <option>Erie/Broomfield</option>
              </select>
              <button type="submit" class="btn btn-primary login firstlogin mt-3">Login</button>
            </form>
          </div>
          <div class="modal-footer">
            <p>Already have an account?</p>
            <button type="button" class="btn btn-warning login">Login</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

<script>
  //Login Button Click
  $(".login").on("click", function () {
    $('#signup-modal').modal('hide');
    $('#login-modal').modal('toggle');
  });

  //Sign Up Button Click
  $(".signup").on("click", function () {
    $('#login-modal').modal('hide');
    $('#signup-modal').modal('toggle');
  });

</script>