<!--Short Description Row-->
    <div class="row">
      <div class="col-md text-center">
        <h3>Shop Local. Complete Quests. Earn Rewards.</h3>
      </div>
    </div>

    <!--Login Signup Links-->
    <div class="row mt-5">
      <div class="col-md-1 offset-5">
        <button type="button" class="btn btn-primary login">Login</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-success signup">Sign Up</button>
      </div>
    </div>